.list {
  display: flex;
  flex-direction: column;
  gap: var(--mantine-spacing-sm);
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-md);
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  border: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-5));
  box-shadow: var(--mantine-shadow-xs);
}

.itemDragging {
  box-shadow: var(--mantine-shadow-md);
}

.teamInfo {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--mantine-spacing-md);
  min-width: 0;
}

.rankAndNumber {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.teamNumber {
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
  width: 64px;
  text-align: center;
}

.teamDetails {
  display: flex;
  align-items: baseline;
  gap: var(--mantine-spacing-xs);
  min-width: 0;
}

.teamName {
  font-weight: 550;
  font-size: var(--mantine-font-size-sm);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.rankValue {
  font-weight: 600;
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
  white-space: nowrap;
}

.actions {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}
