.th {
  padding: 0;
}



.control {
  width: 100%;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);

  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  }
}

.icon {
  width: 21px;
  height: 21px;
  border-radius: 21px;
}

.redCell {
  background-color: light-dark(var(--mantine-color-red-1), var(--mantine-color-red-9));
  color: light-dark(var(--mantine-color-red-9), var(--mantine-color-red-1));
}

.blueCell {
  background-color: light-dark(var(--mantine-color-blue-1), var(--mantine-color-blue-9));
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-1));
}

.predictionCell {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-1));
}

.predictionRed {
  background-color: light-dark(var(--mantine-color-red-0), var(--mantine-color-red-9));
  color: light-dark(var(--mantine-color-red-7), var(--mantine-color-red-0));
}

.predictionBlue {
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-blue-9));
  color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-0));
}

.predictionNeutral {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-2));
}

.resultCell {
  background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-1));
}

.resultRed {
  background-color: light-dark(var(--mantine-color-red-0), var(--mantine-color-red-9));
  color: light-dark(var(--mantine-color-red-7), var(--mantine-color-red-0));
}

.resultBlue {
  background-color: light-dark(var(--mantine-color-blue-0), var(--mantine-color-blue-9));
  color: light-dark(var(--mantine-color-blue-7), var(--mantine-color-blue-0));
}

.resultNeutral {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-6));
  color: light-dark(var(--mantine-color-dark-9), var(--mantine-color-gray-2));
}

.rpSuperscript {
  font-size: 0.65em;
  margin-left: 2px;
}

.table :global(th),
.table :global(td) {
  text-align: center;
}